#top {
	text-align: center;
}

#GPs {
	text-align: center;
}

.gamepad {
    position: relative;
	text-align: left;
    height: 161px;
    margin-bottom: 20px;
	background: #BFBFBF;

	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

.gamepad h2 {
	margin: 0;
}

.btnDiagram {
    position: absolute;
    right: 20px;
    top:20px;
    width: 200px;
    height: 121px;
    background: url("./img/controller.png"), url("./img/12.png");
}

.info {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 121px;
}